In [8]:
import json
import pprint
import pandas as pd
file_path = "unified-dataset.jsonl"

# Stream JSONL file

# jsonl 파일을 generator로 읽어오기
def read_jsonl(file_path):
    with open(file_path, 'r', encoding='utf-8') as f:
        for line in f:
            yield json.loads(line.strip())

# generator를 이용해 DataFrame 변환
df = pd.DataFrame(read_jsonl(file_path))

In [10]:
df.describe()

                  id
count  218544.000000
mean   109271.500000
std     63088.362952
min         0.000000
25%     54635.750000
50%    109271.500000
75%    163907.250000
max    218543.000000

In [14]:
df

,id,VAD,source,text,emotions,split,domain,labeled,emotion_model,optional,annotation_procedure
0,0,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,This did the trick : the boys now have a more ...,"{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
1,1,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,"When Anna left Inspector Aziz , she was much h...","{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
2,2,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,"And though , as Lachlan had planned , they had...","{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
3,3,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,"Honestly , I 'm really happy for you !","{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
4,4,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,Lesley was totally happy about it .,"{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
218539,218539,"{'valence': None, 'arousal': None, 'dominance'...",crowdflower,@JohnLloydTaylor,"{'joy': 0, 'anger': 0, 'sadness': 0, 'disgust'...",None,tweets,single,Ekman+CF,NaN,crowdsourcing
218540,218540,"{'valence': None, 'arousal': None, 'dominance'...",crowdflower,Happy Mothers Day All my love,"{'joy': 0, 'anger': 0, 'sadness': 0, 'disgust'...",None,tweets,single,Ekman+CF,NaN,crowdsourcing
218541,218541,"{'valence': None, 'arousal': None, 'dominance'...",crowdflower,Happy Mother's Day to all the mommies out ther...,"{'joy': 0, 'anger': 0, 'sadness': 0, 'disgust'...",None,tweets,single,Ekman+CF,NaN,crowdsourcing
218542,218542,"{'valence': None, 'arousal': None, 'dominance'...",crowdflower,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...,"{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,tweets,single,Ekman+CF,NaN,crowdsourcing
218543,218543,"{'valence': None, 'arousal': None, 'dominance'...",crowdflower,@mopedronin bullet train from tokyo the gf ...,"{'joy': 0, 'anger': 0, 'sadness': 0, 'disgust'...",None,tweets,single,Ekman+CF,NaN,crowdsourcing

In [12]:
df.head()

,id,VAD,source,text,emotions,split,domain,labeled,emotion_model,optional,annotation_procedure
0,0,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,This did the trick : the boys now have a more ...,"{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
1,1,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,"When Anna left Inspector Aziz , she was much h...","{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
2,2,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,"And though , as Lachlan had planned , they had...","{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
3,3,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,"Honestly , I 'm really happy for you !","{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN
4,4,"{'valence': None, 'arousal': None, 'dominance'...",emotion-cause,Lesley was totally happy about it .,"{'joy': 1, 'anger': 0, 'sadness': 0, 'disgust'...",None,artificial_sentences,single,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218544 entries, 0 to 218543
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    218544 non-null  int64
 1   VAD                   218544 non-null  object
 2   source                218544 non-null  object
 3   text                  218544 non-null  object
 4   emotions              218544 non-null  object
 5   split                 6118 non-null    object
 6   domain                218544 non-null  object
 7   labeled               208482 non-null  object
 8   emotion_model         208464 non-null  object
 9   optional              14771 non-null   object
 10  annotation_procedure  67893 non-null   object
dtypes: int64(1), object(10)
memory usage: 18.3+ MB

In [2]:
type(data)
# ✅ Pretty print JSON data
pp = pprint.PrettyPrinter(width=120, compact=False)  # width 조정 가능
pp.pprint(first_three)

generator

In [7]:

df = pd.DataFrame(data)

ValueError: I/O operation on closed file.